[submodule "thirdparty/scalable-font2"]
	path = thirdparty/scalable-font2
	url = https://gitlab.com/bztsrc/scalable-font2.git
[submodule "thirdparty/acpica"]
	path = thirdparty/acpica
	url = git@github.com:tjysdsg/acpica.git
